.parent {
  display: grid;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.content { grid-area: 1 / 2 / 2 / 3; }


.bg-landing-page {
  height: 100vh;
  background: url("https://source.unsplash.com/xPPbXGbWnjA") no-repeat center;
  background-size: cover;
}

.bg-programme-page {
  height: 100vh;
  background: url("https://source.unsplash.com/wVU58mOgJtg/640x389") no-repeat center;
  background-size: cover;
}

.color-mintcream {
  color: mintcream;
  font-size: 5vw;
}

.entry {
  font-family: "Edward Script", cursive;
}

.entry-font-family {
  font-family: "Edward Script", cursive;
}

.edward-script-font {
  font-family: "Edward Script", cursive;
}

.jeanne-eric-title {
  font-family: "Brush Script", cursive;
  font-size: 11vw;
  color: mintcream;
}

button {
  font-size: 55px;
}
