body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.bg-landing-page {
  z-index: -80;
  background-size: cover;
  height: 100vh;
  background: url("./bg_2.jpg") no-repeat;
  background-size: cover;
}

.bg-programme-page {
  background-size: cover;
  height: 100vh;
  background: url("./bg_1.jpg") no-repeat;
  background-size: cover;
}

.location {
  color: mintcream;
  margin-left: 50px;
  font-size: 55px;
}

.entry {
  font-family: "Edward Script", cursive;
}

.entry-font-family {
  font-family: "Edward Script", cursive;
}

.edward-script-font {
  font-family: "Edward Script", cursive;
}

.jeanne-eric-title {
  z-index: 40;
  font-family: "Brush Script", cursive;
  font-size: 196px;
  color: mintcream;
  margin-left: 200px;
}

button {
  margin-left: 100px;
  font-size: 55px;
}

.programm-footer {
  margin-left: 27%;
  margin-bottom: 2%;
}

.left {
  position: absolute;
  top: 200px;
  right: 10px;
}

